
../bin
../Obj
.vs
/AdvancedConcepts/obj
/HRAdministrationAPI/obj
/AdvancedConcepts/bin/Debug/net5.0
/HRAdministrationAPI/bin/Debug/net5.0
/DelegateBasicExample/bin/Debug/net5.0
/DelegateBasicExample/obj
